<li><ul class="talk" id="{{uid}}">
    <li class="title">
      {{#slides}}
        <a href="{{.}}">{{title}}</a>
      {{/slides}}
      {{^slides}}
        {{title}}
      {{/slides}}
      {{#notes}}
        (live <a href="{{.}}">notes</a>)
      {{/notes}}
    </li>
    <li class="author">
      {{speaker}}
    </li>
    <li class="date">
      {{#is-next-talk}}
        <strong>{{datetime}}</strong>
      {{/is-next-talk}}
      {{^is-next-talk}}
        {{datetime}}
      {{/is-next-talk}}
    </li>
    <li class="location">
      {{& location}}{{! the location may contain HTML links }}
    </li>
</ul></li>
